@model MovieStore.Core.Entities.Movie
@using System.Globalization;
<div class="row text-light bg-dark">
    <div class="col-4">
        <img src="@Model.PosterUrl" alt="@Model.Title" height="250" />
    </div>
    <div class="col-6">
        <h1>@Model.Title</h1>
        <div><small>@Model.Tagline</small></div>
        <div><label>@Model.RunTime m | @Model.ReleaseDate?.ToString("yyyy")</label></div>
        <div>
            @foreach (var item in Model.MovieGenres)
            {
                <span class="badge badge-secondary">@item.Genre.Name</span>
            }
        </div>
        <div><span class="badge badge-warning">@Model.Reviews.Average(r => r.Rating).ToString("F")</span></div>
        <p><small>@Model.Overview</small></p>
    </div>
    <div class="col-2">
        <div><span class="badge badge-secondary">Trailer</span></div>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <div>
                <span class="badge badge-secondary">
                    <input type="button" value="Review" class=" btn-primary modal-link" data-targeturl="@Url.Action("Review","Movies",new { id = @Model.Id })">
                </span>
            </div>
            <div>
                @if (ViewBag.AlreadyBought)
                {
                    <span class="badge badge-secondary">
                        Watch
                    </span>
                }
                else
                {
                    <form asp-action="Purchase" method="post">
                        <input asp-for="Id" type="hidden" value="@Model.Id" />
                        <input asp-for="Title" type="hidden" value="@Model.Title" />
                        <input asp-for="Price" type="hidden" value="@Model.Price" />
                        <span class="badge badge-secondary">
                            <input type="submit" value="Buy" class="btn btn-primary" />
                        </span>
                    </form>
                }
            </div>
            <div>


                @if (ViewBag.IsFavorite)
                {
                    <form asp-action="Unfavorite" method="post">
                        <input asp-for="Id" type="hidden" value="@Model.Id" />
                        <input asp-for="Title" type="hidden" value="@Model.Title" />
                        <button type="submit" style="color: yellow;" class="btn"><i class="far fa-star"></i></button>
                    </form>
                }
                else
                {
                    <form asp-action="Favorite" method="post">
                        <input asp-for="Id" type="hidden" value="@Model.Id" />
                        <input asp-for="Title" type="hidden" value="@Model.Title" />
                        <button type="submit" style="color: gray;" class="btn"><i class="far fa-star"></i></button>
                    </form>

                }



            </div>

        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <h3>Movie Facts</h3>
        <div class="border-bottom">Release Date <span class="badge badge-secondary">@Model.ReleaseDate?.ToString("MMM dd, yyyy")</span></div>
        <div class="border-bottom">Run Time <span class="badge badge-secondary">@Model.RunTime</span></div>
        <div class="border-bottom">Box Office <span class="badge badge-secondary">@Model.Revenue?.ToString("C3", CultureInfo.CurrentCulture)</span></div>
        <div class="border-bottom">Budget <span class="badge badge-secondary">@Model.Budget?.ToString("C3", CultureInfo.CurrentCulture)</span></div>
    </div>
    <div class="col-sm-12 col-md-7">
        <h3>Cast</h3>
        <div class="row">
            <div class="col-sm-4">
                Profile
            </div>
            <div class="col-sm-4">
                Actor
            </div>
            <div class="col-sm-4">
                Character
            </div>
        </div>
        @foreach (var item in Model.MovieCasts)
        {
            <a href="@item.Cast.TmdbUrl">
                <div class="row">
                    <div class="col-sm-4">
                        @if (string.IsNullOrEmpty(item.Cast.ProfilePath))
                        {
                            <span>@item.Cast.Name</span>
                        }
                        else
                        {
                            <img height="75" src="@item.Cast.ProfilePath" alt="@item.Cast.Name" />
                        }

                    </div>
                    <div class="col-sm-4">
                        <span>@item.Cast.Name</span>
                    </div>
                    <div class="col-sm-4">
                        <span>@item.Character</span>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
<div class="popup-overlay">
    <!--Creates the popup content-->
    <div class="popup-content">
        <div id="popupcontentcontainer"></div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            $.get($(this).data("targeturl"), function (data) {
                $('#popupcontentcontainer').html(data);
            });
            $(".popup-content").addClass("active");
        });
    });
</script>
